div.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 0 auto;
    .container:after {
        display:inline-block;
        width:0;
        height:100%;
        vertical-align:middle;
        content:"";
    }
}

